.navigation {
  padding: 30px 50px;
  border-bottom: 1px solid gray;
}
.nav__link {
  margin-right: 15px;
  font-weight: 650;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.nav__activeLink {
  color: rgb(224, 62, 116);
}
